.banner-principal-decorativo
  &-1
    top: 15%
    right: 80%
    width: 100px
    position: absolute
    animation: float1 3.5s ease-in-out infinite alternate
  
  &-2
    top: 5%
    right: 20%
    width: 100px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate
  
  &-3
    top: 65%  
    right: 25%
    width: 100px
    position: absolute
    animation: float1 2.8s ease-in-out infinite alternate

@media (min-width: 1025px)
  .banner-principal-decorativo
    &-1
      top: 15%
      right: 80%
      width: 100px
      position: absolute
    
    &-2
      top: 5%
      right: 20%
      width: 100px
    
    &-3
      top: 55%
      right: 17%
      width: 100px

@keyframes float1
  0%
    transform: translateY(20px)
  100%
    transform: translateY(0px)
    
.banner-principal .tarjeta
  
.banner-principal__row .banner-principal__img
  width: 500px !important
  @media screen and (max-width: $bp-max-xl)
    width: 400px !important

.titulo-principal__numero
  min-width: 45px
  height: 45px
  margin-right: 15px
  position: relative
  background-color: $color-acento-contenido !important

.banner-interno__fondo 
  background-image: url('../assets/curso/portada/banner_interno.png') !important

  .banner-principal .tarjeta
  background-position: left 50% !important 

.titulo-principal.color-acento-contenido
  color: $color-sistema-texto !important

.titulo-principal__numero span
  color: $color-sistema-texto !important
.banner-interno__titulo__icono i
  color: $color-primario

.boton *, .boton--sm *
  color: $color-sistema-texto
.boton:active *, .boton--sm:active *, .boton:focus *, .boton--sm:focus *, .boton:hover *, .boton--sm:hover *
  color: $color-sistema-texto
.barra-avance__boton--regresar span
  color: $color-sistema-texto !important

.banner-interno__titulo h2
  color: $white !important

figcaption
  font-weight: normal

.banner-principal p, .banner-principal h1, .banner-principal h2, .banner-principal h3, .banner-principal h4, .banner-principal h5, .banner-principal h6
  color: $white

// factores-slider custom-slider
.factores-slider, .custom-slider
  &__icon 
    max-height: 93px
  .h-95
    height: 95% !important
  .slyder-f
    align-items: center
    justify-content: center
    gap: 0
  .slyder-f__btn
    background-color: $color-acento-botones
    color: $white !important
    height: 42px
    width: 42px
    min-width: 42px
    border-radius: 50%
    padding: 0 !important
    transition: transform 0.3s
    z-index: 100
    
    &:hover
      transform: scale(1.1)
    .fa-chevron-left, .fa-chevron-right
      font-size: 1.5rem
    &.ps-3
      margin-left: 7px
      @media (max-width: 1024px)
        margin-left: 7px
    &.pe-3
      margin-right: 7px
      @media (max-width: 1024px)
        margin-right: 7px
  &--color-fondo-1
    &__icon 
      max-height: 93px
    .h-95
      height: 95% !important
    .slyder-f
      align-items: center
      justify-content: center
      gap: 0
    .slyder-f__btn
      background-color: $color-primario !important
      color: $white !important
      height: 42px
      width: 42px
      min-width: 42px
      border-radius: 50%
      padding: 0 !important
      transition: transform 0.3s
      &:hover
        transform: scale(1.1)
      .fa-chevron-left, .fa-chevron-right
        font-size: 1.5rem
      &.ps-3
        margin-left: 7px
        @media (max-width: 1024px)
          margin-left: 7px
      &.pe-3
        margin-right: 7px
        @media (max-width: 1024px)
          margin-right: 7px

//acordion__activo
.acordion__activo
  background-color: $color-adicional-4 !important
.acordion__accion__btn--a 
  background-color: $color-acento-botones !important
  color: $white

//custom-transform
.custom-t
  transform: translateY(-65px)

// Tabla a 
.tabla-a thead
  border-top: 5px $color-adicional-5 solid
  background-color: $color-secundario-20
  color: $color-sistema-a
  font-weight: bold
.bg-table-01
  background-color: $color-adicional-6
  color: $color-sistema-texto

// TabsA 
.tabs-a.mb-0.tarjeta-tabs-a.color-secundario-10.uno
  .row
    justify-content: center !important
    .col-lg-4.col-xl-3
      flex: 0 0 45% !important
      max-width: 45% !important
      display: flex
      flex-direction: column

      @media (min-width: 1200px)
        flex: 0 0 30% !important
        max-width: 30% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important
    .col-lg-8.col-xl-9
      flex: 0 0 55% !important
      max-width: 55% !important
      display: flex !important

      @media (min-width: 1200px)
        flex: 0 0 70% !important
        max-width: 70% !important

      @media (max-width: 991px)
        flex: 0 0 100% !important
        max-width: 100% !important

.tabs-a.mb-5.tarjeta-tabs-a.color-secundario.uno .col-sm-6.col-lg-12.mb-3
  .tabs-a__tab
    padding: 18px 22px !important
    font-size: 0.95rem !important
    min-height: 60px !important
    flex-grow: 1

.tabs-a .tarjeta-tabs-a__tarjeta
  flex-grow: 1 !important
  width: 100%
  display: flex !important
  align-items: center !important
  justify-content: center !important

  justify-content: center !important

// --- .cita-decorada ---

.cita-decorada
  
  .cita-decorada__caja
    background-size: 100% 100%
    background-repeat: no-repeat

    &--fondo-1
      background-image: url('../assets/curso/temas/tema_2/img_25.png')
      @media (max-width: 768px)
        background-image: url('../assets/curso/temas/tema_2/img_27.png')
    
    &--fondo-2
    background-image: url('../assets/curso/temas/tema_2/img_25.png')
    @media (max-width: 768px)
      background-image: url('../assets/curso/temas/tema_2/img_27.png')

   
    
    [class*="cita-decorada__imagen-flotante"]
      width: 100%
      height: auto

    .cita-decorada__imagen-flotante-2
      position: absolute
      transform: translateY(-130px) translateX(35px)
      z-index: 3
      max-width: 235px
      margin: 0 auto
      @media (max-width: 1025px)
        transform: translateY(-144px) translateX(-35px)
        max-width: 270px

  .cita-decorada__texto
    position: relative
    margin: 0
    line-height: 1.6
    font-size: 1rem
    font-family: system-ui, sans-serif
